In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
university_ranking18 = pd.read_csv('2018-QS-World-University-Rankings.csv',
                                   encoding='latin-1',header=[0,1])
university_ranking19 = pd.read_csv('2019-QS-World-University-Rankings.csv',
                                   encoding='latin-1',header=[0,1])
university_ranking20 = pd.read_csv('2020-QS-World-University-Rankings.csv',
                                   encoding='latin-1',header=[0,1])

# **For 2020 Data**

In [3]:
university_ranking20.head()

,Rank in 2020,Rank in 2019,Institution Name,Country,Classification,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Academic Reputation,...,Unnamed: 12_level_0,Faculty Student,Unnamed: 14_level_0,Citations per Faculty,Unnamed: 16_level_0,International Faculty,Unnamed: 18_level_0,International Students,Unnamed: 20_level_0,Overall Score
,Unnamed: 0_level_1,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,SCORE,...,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,Unnamed: 21_level_1
0,1,1,Massachusetts Institute of Technology (MIT),United States,M,CO,VH,5.0,B,100,...,4,100,15,99.8,7,100,43,94.1,87,100
1,2,2,Stanford University,United States,L,FC,VH,5.0,B,100,...,5,100,12,98.6,13,99.8,62,67.7,196,98.4
2,3,3,Harvard University,United States,L,FC,VH,5.0,B,100,...,1,98.7,40,99.6,8,86.3,186,62.2,221,97.4
3,4,5,University of Oxford,United Kingdom,L,FC,VH,5.0,A,100,...,3,100,8,84.7,45,99.7,64,98.5,50,97.2
4,5,4,California Institute of Technology (Caltech),United States,S,CO,VH,5.0,B,97.8,...,74,100,4,100,4,99.4,72,87.3,121,96.9

# **Aligning Columns**

In [4]:
cols = []
for column in university_ranking20:
    if column[0].startswith('Unnamed'):
        cols.append(column[1])
    elif column[1].startswith('Unnamed'):
        cols.append(column[0])
    else:
        cols.append(column[0]+'_'+column[1])
university_ranking20.columns = cols

In [5]:
cols

['Rank in 2020',
 'Rank in 2019',
 'Institution Name',
 'Country',
 'Classification_SIZE',
 'FOCUS',
 'RESEARCH INTENSITY',
 'AGE',
 'STATUS',
 'Academic Reputation_SCORE',
 'RANK',
 'Employer Reputation_SCORE',
 'RANK',
 'Faculty Student_SCORE',
 'RANK',
 'Citations per Faculty_SCORE',
 'RANK',
 'International Faculty_SCORE',
 'RANK',
 'International Students_SCORE',
 'RANK',
 'Overall Score']

# **Cleaning Data**

In [6]:
university_ranking20.replace('-', np.nan,inplace=True)

In [7]:
university_ranking20_only_ranking = university_ranking20[~university_ranking20['Rank in 2020'].isnull()]

In [8]:
university_ranking20_only_ranking.head()

,Rank in 2020,Rank in 2019,Institution Name,Country,Classification_SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,Academic Reputation_SCORE,...,RANK,Faculty Student_SCORE,RANK,Citations per Faculty_SCORE,RANK,International Faculty_SCORE,RANK,International Students_SCORE,RANK,Overall Score
0,1,1,Massachusetts Institute of Technology (MIT),United States,M,CO,VH,5.0,B,100,...,4,100,15,99.8,7,100,43,94.1,87,100
1,2,2,Stanford University,United States,L,FC,VH,5.0,B,100,...,5,100,12,98.6,13,99.8,62,67.7,196,98.4
2,3,3,Harvard University,United States,L,FC,VH,5.0,B,100,...,1,98.7,40,99.6,8,86.3,186,62.2,221,97.4
3,4,5,University of Oxford,United Kingdom,L,FC,VH,5.0,A,100,...,3,100,8,84.7,45,99.7,64,98.5,50,97.2
4,5,4,California Institute of Technology (Caltech),United States,S,CO,VH,5.0,B,97.8,...,74,100,4,100,4,99.4,72,87.3,121,96.9

In [9]:
university_ranking20_only_ranking.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1002 entries, 0 to 1001
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Rank in 2020                  1002 non-null   object
 1   Rank in 2019                  952 non-null    object
 2   Institution Name              1002 non-null   object
 3   Country                       1002 non-null   object
 4   Classification_SIZE           1002 non-null   object
 5   FOCUS                         979 non-null    object
 6   RESEARCH INTENSITY            978 non-null    object
 7   AGE                           980 non-null    float64
 8   STATUS                        962 non-null    object
 9   Academic Reputation_SCORE     581 non-null    object
 10  RANK                          581 non-null    object
 11  Employer Reputation_SCORE     620 non-null    object
 12  RANK                          620 non-null    object
 13  Faculty Student_SCORE         709 non-null    object
 14  RANK                          709 non-null    object
 15  Citations per Faculty_SCORE   677 non-null    object
 16  RANK                          677 non-null    object
 17  International Faculty_SCORE   682 non-null    object
 18  RANK                          682 non-null    object
 19  International Students_SCORE  688 non-null    object
 20  RANK                          688 non-null    object
 21  Overall Score                 1002 non-null   object
dtypes: float64(1), object(21)
memory usage: 180.0+ KB

In [10]:
university_ranking20_only_ranking.loc['Rank in 2020'] = university_ranking20_only_ranking['Rank in 2020'].str.strip().str.replace('=','')

C:\Users\kenny\anaconda3\lib\site-packages\pandas\core\indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [11]:
university_ranking20_only_ranking.drop(university_ranking20_only_ranking.index[len(university_ranking20_only_ranking)-1], inplace=True)

C:\Users\kenny\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [12]:
university_ranking20_only_ranking['Country'].unique()

array(['United States', 'United Kingdom', 'Switzerland', 'Singapore',
       'China', 'Japan', 'Hong Kong', 'Australia', 'Canada',
       'South Korea', 'Netherlands', 'France', 'Germany', 'Taiwan',
       'Malaysia', 'Argentina', 'Belgium', 'Denmark', 'New Zealand',
       'Russia', 'Sweden', 'Mexico', 'Finland', 'Ireland', 'Brazil',
       'Norway', 'Chile', 'Italy', 'India', 'Austria', 'Israel', 'Spain',
       'Saudi Arabia', 'South Africa', 'Kazakhstan', 'Colombia',
       'Lebanon', 'Thailand', 'United Arab Emirates', 'Qatar',
       'Czech Republic', 'Indonesia', 'Brunei', 'Estonia', 'Poland',
       'Portugal', 'Belarus', 'Philippines', 'Pakistan', 'Oman', 'Macau',
       'Egypt', 'Iran', 'Turkey', 'Greece', 'Lithuania', 'Peru',
       'Uruguay', 'Ukraine', 'Cuba', 'Hungary', 'Costa Rica', 'Slovenia',
       'Jordan', 'Latvia', 'Venezuela', 'Iraq', 'Vietnam', 'Slovakia',
       'Bulgaria', 'Ecuador', 'Croatia', 'Romania', 'Azerbaijan',
       'Bangladesh', 'Kuwait', 'Puerto Rico', 'Paraguay', 'Panama',
       'Bahrain', 'Serbia', 'Sri Lanka'], dtype=object)

In [13]:
university_ranking20_only_ranking['Classification_SIZE'].unique()

array(['M', 'L', 'S', 'XL'], dtype=object)

In [14]:
university_ranking20_only_ranking['FOCUS'].isnull().sum()

23

In [15]:
university_ranking20_only_ranking[university_ranking20_only_ranking['RESEARCH INTENSITY'].isnull()]

,Rank in 2020,Rank in 2019,Institution Name,Country,Classification_SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,Academic Reputation_SCORE,...,RANK,Faculty Student_SCORE,RANK,Citations per Faculty_SCORE,RANK,International Faculty_SCORE,RANK,International Students_SCORE,RANK,Overall Score
52,53,50,UniversitÃ© PSL (Paris Sciences & Lettres),France,L,NaN,NaN,1.0,NaN,77.7,...,20,100,21,26.2,470,67.1,262,72.1,175,73.4
254,253=,NaN,University of Paris,France,XL,NaN,NaN,1.0,NaN,48.5,...,501+,33.5,457,46.1,265,19.1,558,7.5,601+,37.5
396,395=,NaN,Tampere University,Finland,L,NaN,NaN,1.0,NaN,24.8,...,312,29,517,38.1,345,29.2,469,8.6,601+,28.4
491,491=,521-530,Lappeenranta University of Technology,Finland,S,NaN,NaN,NaN,A,6.6,...,501+,23.6,599,56.3,169,49.4,339,28.6,444,24.3
599,591-600,NaN,University of CÃ´te d'Azur,France,XL,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,29.8,434,66.2,264,68.2,192,20.3 - 20.4
659,651-700,561-570,Indiana University-Purdue University Indianapolis,United States,L,NaN,NaN,NaN,NaN,NaN,...,NaN,53.9,275,NaN,NaN,NaN,NaN,NaN,NaN,16.7 - 18.4
684,651-700,601-650,Universidad del Pais Vasco,Spain,XL,NaN,NaN,NaN,NaN,NaN,...,NaN,44.7,338,NaN,NaN,NaN,NaN,NaN,NaN,16.7 - 18.4
690,651-700,495=,UniversitÃ¤t Hohenheim,Germany,M,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,42.5,305,NaN,NaN,34.4,395,16.7 - 18.4
697,651-700,651-700,University of Minho,Portugal,L,NaN,NaN,NaN,NaN,NaN,...,NaN,31.4,480,NaN,NaN,21.9,522,NaN,NaN,16.7 - 18.4
718,701-750,751-800,London South Bank University,United Kingdom,M,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,60.2,293,92.7,98,15.2 - 16.6
733,701-750,NaN,Universidad de Alicante,Spain,L,NaN,NaN,3.0,NaN,NaN,...,NaN,31.3,483,NaN,NaN,NaN,NaN,16.1,583,15.2 - 16.6
850,801-1000,751-800,Kent State University,United States,L,NaN,NaN,5.0,A,NaN,...,NaN,NaN,NaN,31.9,420,20,550,NaN,NaN,9 - 14.1
857,801-1000,NaN,Liverpool John Moores University,United Kingdom,L,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,44.7,363,32.7,407,9 - 14.1
870,801-1000,NaN,Politecnico di Bari,Italy,M,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,48.1,248,NaN,NaN,NaN,NaN,9 - 14.1
888,801-1000,NaN,Sheffield Hallam University,United Kingdom,L,NaN,NaN,NaN,NaN,NaN,...,401,NaN,NaN,NaN,NaN,30.7,453,20.2,530,9 - 14.1
894,801-1000,801-1000,TecnolÃ³gico de Costa Rica (TEC),Costa Rica,M,NaN,NaN,5.0,NaN,NaN,...,321,26.4,563,NaN,NaN,NaN,NaN,NaN,NaN,9 - 14.1
895,801-1000,701-750,Texas Tech University,United States,XL,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,19.1,565,39.2,403,NaN,NaN,9 - 14.1
907,801-1000,NaN,Universidad de Lima,Peru,M,NaN,NaN,4.0,NaN,NaN,...,263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9 - 14.1
910,801-1000,801-1000,Universidad de Monterrey,Mexico,M,SP,NaN,4.0,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9 - 14.1
912,801-1000,801-1000,Universidad de Oviedo,Spain,L,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,18.6,574,NaN,NaN,NaN,NaN,9 - 14.1
932,801-1000,801-1000,Universidade de Vigo,Spain,L,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,22.6,514,NaN,NaN,NaN,NaN,9 - 14.1
945,801-1000,801-1000,UniversitÃ Â degli Studi di Palermo,Italy,L,NaN,NaN,5.0,A,NaN,...,NaN,NaN,NaN,26.5,466,NaN,NaN,NaN,NaN,9 - 14.1
946,801-1000,NaN,UniversitÃ¤t Siegen,Germany,L,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,37.1,415,23.7,489,9 - 14.1
974,801-1000,801-1000,University of Montana Missoula,United States,M,NaN,NaN,5.0,A,NaN,...,NaN,NaN,NaN,22.6,512,NaN,NaN,NaN,NaN,9 - 14.1

In [16]:
university_ranking20_only_ranking.groupby('Country')['Institution Name'].count().nlargest(20)

Country
United States     157
United Kingdom     84
Germany            46
China              42
Japan              41
Australia          35
Italy              34
France             31
South Korea        30
Spain              27
Canada             26
Russia             25
India              24
Malaysia           20
Brazil             19
Poland             16
Taiwan             16
Argentina          13
Mexico             13
Netherlands        13
Name: Institution Name, dtype: int64

# **For 2019 data**

In [17]:
university_ranking19.head()

,2019,2018,Institution Name,Country,Classification,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Academic Reputation,...,Unnamed: 12_level_0,Faculty Student,Unnamed: 14_level_0,Citations per Faculty,Unnamed: 16_level_0,International Faculty,Unnamed: 18_level_0,International Students,Unnamed: 20_level_0,Overall Score
,Unnamed: 0_level_1,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,SCORE,...,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,Unnamed: 21_level_1
0,1,1,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),United States,M,CO,VH,5.0,B,100,...,4,100,17,99.8,8,100,41,95.5,77,100
1,2,2,STANFORD UNIVERSITY,United States,L,FC,VH,5.0,B,100,...,5,100,16,99,13,99.8,56,70.5,190,98.6
2,3,3,HARVARD UNIVERSITY,United States,L,FC,VH,5.0,B,100,...,1,99.3,40,99.8,9,92.1,151,75.7,164,98.5
3,4,4,CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH),United States,S,CO,VH,5.0,B,98.7,...,72,100,4,100,5,96.8,115,90.3,103,97.2
4,5,6,UNIVERSITY OF OXFORD,United Kingdom,L,FC,VH,5.0,A,100,...,3,100,7,83,56,99.6,63,98.8,43,96.8

# **Aligning Columns**

In [18]:
cols = []
for column in university_ranking19:
    if column[0].startswith('Unnamed'):
        cols.append(column[1])
    elif column[1].startswith('Unnamed'):
        cols.append(column[0])
    else:
        cols.append(column[0]+'_'+column[1])
university_ranking19.columns = cols

In [19]:
cols

['2019',
 '2018',
 'Institution Name',
 'Country',
 'Classification_SIZE',
 'FOCUS',
 'RESEARCH INTENSITY',
 'AGE',
 'STATUS',
 'Academic Reputation_SCORE',
 'RANK',
 'Employer Reputation_SCORE',
 'RANK',
 'Faculty Student_SCORE',
 'RANK',
 'Citations per Faculty_SCORE',
 'RANK',
 'International Faculty_SCORE',
 'RANK',
 'International Students_SCORE',
 'RANK',
 'Overall Score']

# **Cleaning Data**

In [20]:
university_ranking19.replace('-', np.nan,inplace=True)

In [21]:
university_ranking19_only_ranking = university_ranking19[~university_ranking19['Rank in 2019'].isnull()]

KeyError: 'Rank in 2019'

In [ ]:
university_ranking19_only_ranking.head()

In [ ]:
university_ranking19_only_ranking.info()

In [ ]:
university_ranking19_only_ranking.loc['Rank in 2020'] = university_ranking19_only_ranking['Rank in 2020'].str.strip().str.replace('=','')

In [ ]:
university_ranking19_only_ranking.drop(university_ranking19_only_ranking.index[len(university_ranking19_only_ranking)-1], inplace=True)

In [ ]:
university_ranking19_only_ranking['Country'].unique()

In [ ]:
university_ranking19_only_ranking['Classification_SIZE'].unique()

In [ ]:
university_ranking19_only_ranking['FOCUS'].isnull().sum()

In [ ]:
university_ranking19_only_ranking[university_ranking19_only_ranking['RESEARCH INTENSITY'].isnull()]

In [ ]:
university_ranking19_only_ranking.groupby('Country')['Institution Name'].count().nlargest(20)

# **For 2018 data**

In [ ]:
university_ranking18.head()

# **Aligning Columns**

In [ ]:
cols = []
for column in university_ranking18:
    if column[0].startswith('Unnamed'):
        cols.append(column[1])
    elif column[1].startswith('Unnamed'):
        cols.append(column[0])
    else:
        cols.append(column[0]+'_'+column[1])
university_ranking18.columns = cols

In [ ]:
cols

# **Cleaning Data**

In [ ]:
university_ranking18.replace('-', np.nan,inplace=True)

In [ ]:
university_ranking18_only_ranking = university_ranking18[~university_ranking19['Rank in 2019'].isnull()]

In [ ]:
university_ranking18_only_ranking.head()

In [ ]:
university_ranking18_only_ranking.info()

In [ ]:
university_ranking18_only_ranking.loc['Rank in 2020'] = university_ranking18_only_ranking['Rank in 2020'].str.strip().str.replace('=','')

In [ ]:
university_ranking18_only_ranking.drop(university_ranking18_only_ranking.index[len(university_ranking18_only_ranking)-1], inplace=True)

In [ ]:
university_ranking18_only_ranking['Country'].unique()

In [ ]:
university_ranking18_only_ranking['Classification_SIZE'].unique()

In [ ]:
university_ranking18_only_ranking['FOCUS'].isnull().sum()

In [ ]:
university_ranking18_only_ranking[university_ranking18_only_ranking['RESEARCH INTENSITY'].isnull()]

In [ ]:
university_ranking18_only_ranking.groupby('Country')['Institution Name'].count().nlargest(20)